html {
	background: url('../images/background.jpg')  no-repeat fixed 100% 100%/100% 100%; 
	font-family: "Malgun Gothic", "Gulim", Verdan, Arial, Tahoma;
	font-size: 15pt;
}

#wrap{
	width:960px;
	margin:50px auto;
	background-color:#3DB7CC;
	border-radius: 20px;
	padding:10px 0px;
}

#title{
	margin:0 auto;
	width:940px;
	height:100px;
	background-color: #fff;
	border-radius: 20px;
}

#main{
	margin:10px 10px;

}

#menu{
	float:left;
	width:200px;
	height:170px;
	background-color: #CEF279;
	border-radius: 20px;
}

#menu ul{
	list-style-type: none;
	margin:0;
	padding:0;
	text-align: center;

}

#menu li{
	height:50px;
}

#menu ul li a{
	text-decoration:none;
	background-color: #1DDB16;
	font-size: 30px;
	padding:5px 0px;
	margin:5px 5px;
	display: block;
	border-radius: 20px;
}

#menu ul li a:hover{
	background-color: #B6FFFF;
}
#menu ul li a:visited{
	color: #4641D9;
}
#menu ul li a:active{
	background-color: #CEF279;
}
#menu ul li a.selected{
	background-color: #6B9900;
}

#body{
	margin-left:200px;
	background-color: #CEF279;
	border-radius: 20px;
	text-align: center;
}

#body img{
	float:center;
	margin:10px auto;
	border-radius: 20px;
}

#tail{
	float:top;
	height:100px;
}

#tail a{
	text-decoration: none;
	font-size: 30px;
	color:blue;
	float:none;
	font-style: italic;
}

.font {
	padding-top: 15px;
	text-align: center;
	font-size: 50px;
	color:blue;

}

table{
	margin: 0 auto;
	padding:0 0 20px 0;
}

th, td{
	border: 3px solid blue;
}

th{
	background-color: #6799FF;
}

tr{
	background-color: #D4F4FA
}

th+td{
	background-color: #D4F4FA
}